<!-- app/views/posts/index.html.erb -->
<% @posts.each do |post| %>
  <% if post.url? %>
    <%= link_to(post.title, post.url) %>
  <% else %>
    <%= link_to(post.title, post) %>
  <% end %>
  <div class="link-info">
    submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.email %>
  </div>
  <br>
<% end %>
